/*------------------------------------------------------------------
Created on   : 17/09/2021.
Template Name   : Deski - Saas & Software React Template
Version      : 1.0.
Developed by : (ib-themes21@gmail.com) / (https://themeforest.net/user/ib-themes)
Primary use:  ib-themes



-------------------------------------------------------------------*/
/*----TextFont-------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500&display=swap");
/*----Gilroy-------*/
@import url("./fonts/gilroy/fonts.css");
/*----Gorodita-------*/
@import url("./fonts/gordita/stylesheet.css");
/*----Recoleta-------*/
@import url("./fonts/recoleta/stylesheet.css");
/*----Flaticon-------*/
@import url("./fonts/icon/font/flaticon.css");
/*----FontAwesome-------*/
@import url("./fonts/font-awesome/css/font-awesome.min.css");
/*----GilroyFont-------*/
@import url("./fonts/gilroy/fonts.css");
// react modal video
// @import "node_modules/react-modal-video/scss/modal-video.scss";

@import "./scss/animation";
@import "./scss/slick";
@import "./scss/modal";
@import "./scss/404";
@import "./scss/bootstrap";
@import "./scss/framework";
@import "./scss/mega-menu";
@import "./scss/preview";
@import "./scss/style";
@import "./scss/mobile-menu";
@import "./scss/custom-reactify";
@import "./scss/dark";
@import "./scss/responsive";

.form-style-cleaning {
  padding: 0px 60px 40px !important;
}

.cleaning-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 24px;
}

.cleaning-table th {
  font-family: Lato-Bold;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  background-color: rgb(65, 162, 224);
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
}

.cleaning-table th:first-child {
  border-top-left-radius: 6px;
}

.cleaning-table th:last-child {
  border-top-right-radius: 6px;
}

.cleaning-table tr:nth-child(odd) {
  // background-color: #f8f6ff;
  background: linear-gradient(45deg, #fffbf2, #edfffd);
}

.cleaning-table td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: gray;
  line-height: 1.4;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
}

.form-style-light [class*="theme-btn"] {
  border-radius: 5px;
}

.address-cleaning-intro {
  padding: 45px 0 45px !important;
}

.geocoding-input-container .geocoding-input input {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 60px;
  border-radius: 0.25rem;
  border: 1px solid;
  border-color: inherit;
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);
  margin-top: 20px;
  z-index: 1;
  color: var(--blue-light);
}

.geocoding-select-item {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-align: baseline;
  align-items: baseline;
  padding-left: 16px;
  padding-right: 16px;
}

.geocoding-select-hr {
  border-width: 0px 0px 0.0625rem;
  border-top-style: initial;
  border-right-style: initial;
  border-left-style: initial;
  border-image: initial;
  opacity: 0.6;
  border-bottom-style: solid;
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  border-color: inherit;
}

.geocoding-select-item-txt {
  padding-left: 0px !important;
  font-size: 14px !important;
  font-family: Quicksand, sans-serif;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  // color: rgb(20, 144, 158);
}

.geocoding-input-container .search-form button {
  width: 50px !important;
  background: var(--blue-light);
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 17px;
  z-index: 5;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.geocoding-result .mark-blue {
  background: #f4fafa;
  border-left: 4px solid #9cdfc9;
  border-radius: 0 8px 8px 0;
  margin-bottom: 45px;
  padding: 22px 40px;
}

.user-data-page .illustration-wrapper {
  text-align: left;
}

.doc-container .doc-main-body .bg-black {
  color: #b3adad;
}

.request-param-table {
  width: 100%;
  font-weight: 700;
}

.request-param-table th {
  font-family: Lato-Bold;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  background-color: rgb(65, 162, 224);
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
}

.request-param-table th:first-child {
  border-top-left-radius: 6px;
}

.request-param-table th:last-child {
  border-top-right-radius: 6px;
}

.request-param-table tr {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-align: left;
}

.request-param-table tr:nth-child(odd) {
  // background-color: #f8f6ff;
  background: rgb(245, 245, 245);
}

.request-param-table td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: gray;
  line-height: 1.4;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
}

.counter-box-three {
  margin-top: 0px;
}

.wrapper-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  transform: translate(-50%, -50%);
  cursor: default;
  &:hover {
    z-index: 1;
  }
}

.search-form {
  max-width: 720px;
  height: 70px;
  margin: 55px auto 0;
  position: relative;
}

.theme-menu-three .user-login-button .signIn-action svg {
  margin-right: 12px;
}

.dashboard-detail textarea {
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 15px;
  resize: none;
  height: 145px;
  color: #73737b;
}

.dashboard-detail .copy-row {
  display: flex;
  color: #449fe0;
  cursor: pointer;
}

.dashboard-detail .copy-row span {
  color: #449fe0 !important;
}

.theme-menu-three .language-button-group li a.active {
  color: #000;
}

.theme-menu-three .language-button-group li a {
  color: #b7b7b7;
  font-size: 16px;
  font-weight: 500;
  margin: 0 4px;
  cursor: pointer;
}

.theme-menu-three .language-button-group {
  margin-right: 30px;
}
